/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}
.Image1{
    width: auto;
    min-height: 50vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Pop-up_bike_lane_Kottbusser_Damm_Berlin.jpg/1024px-Pop-up_bike_lane_Kottbusser_Damm_Berlin.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
}
.secImage{
    width:29vw;
}
mark{
    background-color:aliceblue;
}
/* The code below centers all images on the page and gives them a width of 400px. 
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}
*/
/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}


p{
    padding: 5px;
    font-size: 5px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:20px;
}